<div class="content-container">
    <header>
        <div class="head-row">
            <h2 class="heading-subheading head-row">History</h2>
        </div>
    </header>
    <ul class="list-matches">
        <div class="league-match">
            <p>Date: 25,10,2021</p>
        </div>
        <li class="li-match">
            <div class="match-row">
                <p class="match-name">
                    <span>
                        <fa-icon class="match-icon" [icon]="icons.faFutbol"></fa-icon>
                    </span>
                    Chelsea - Barcelona
                </p>
                <div class="pick-prediction">
                    <button class="btn-predictions">Home</button>
                </div>
            </div>
        </li>
    </ul>
</div>