<div class="content-container">
    <header>
        <div class="head-row">
            <h2 class="heading-subheading head-row">History</h2>
        </div>
    </header>
    <div *ngIf="user?.betPredictions">
        <ul class="list-matches" *ngFor="let p of prediction; let index=index">
            <div class="league-match">
                <p>Date: {{p.createdAt.substring(0,10)}}</p>
                <span>
                    <fa-icon class="slider-icon" [icon]="icons.faSlidersH" (click)="toggleHandler($event,index)"></fa-icon>
                </span>
            </div>
            <li class="li-match" *ngFor="let match of p.bets | keyvalue">
                <div class="match-row">
                    <p class="match-name">
                        <span>
                            <fa-icon class="match-icon" [icon]="icons.faFutbol"></fa-icon>
                        </span>
                        {{match.key}}
                    </p>
                    <div class="pick-prediction">
                        <span class="btn-predictions">{{match.value}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>