<section class="section-features">
    <div class="container">
        <h2 class="h2-features">As Featured In</h2>
        <div class="container-features">
            <div class="logos">
                <img class="logo-img" src="../../../assets/logos/sky-bet-547216.png" alt="SkyBet Logo">
                <img class="logo-img" src="../../../assets/logos/bet365.png" alt="Bet365 Logo">
                <img class="logo-img" src="../../../assets/logos/sbtech.png" alt="SBTech Logo">
                <img class="logo-img" src="../../../assets/logos/betAwards.png" alt="BetAwards Logo">
                <img class="logo-img" src="../../../assets/logos/Sportradar_logo.png" alt="SportsRadar Logo">
            </div>
        </div>
    </div>
</section>