<section id="how-it-works" class="section-how">
    <div class="container">
        <span class="subheading">How it works</span>
        <h2 class="heading-secondary">3 easy steps to participate in Pro Football challange</h2>
    </div>
    <div class="container grid grid--2-cols">
        <!-- Z PATTERN DESIGN -->
        <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">Register</h3>
            <p class="step-description">After you create your account, you can start setting it up. Your account
                dashboard will guide you through all the most important steps to start participate in Pro
                Football Challenge. </p>
        </div>
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/how/phone-odds-pickup.png" alt="Phone Register App">
        </div>
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/how/phone-odds-pickup.png" alt="Phone Register App">
        </div>
        <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">Select your predictions</h3>
            <p class="step-description">Every day you will have chance to predict the end of ten matches. Each
                correct prediction give you points for monthly Pro Football Challenge.</p>
        </div>
        <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">Submit</h3>
            <p class="step-description">After you selection , you can submit your predictions for the current
                day and participate in monthly Pro Football Challenge. Every month three of you guys have chance
                to win 300 USD.</p>
        </div>
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/how/phone-odds-pickup.png" alt="Phone Register App">
        </div>
    </div>
</section>