<footer class="footer">
    <div class="container grid grid--footer">
        <div class="div-logos-footer">
            <a class="footer-logo" href="#"><img class="footer-logo-img" src="../../../assets/profootball-logo.png"
                    alt="profootball-logo"></a>

        </div>
        <div class="div-address">
            <p class="footer-heading">Contact Us</p>
            <address class="contacts">
                <p class="address">Wembley, London HA9 0WS, United Kingdom </p>
                <p>
                    <a class="footer-link" href="tel:800 169 9933">800 169 9933</a>
                    <a class="footer-link" href="mailto:contacts@profootball.com">contacts@profootball.com</a>
                </p>
            </address>
        </div>
        <div class="div-account">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-nav" href="#">Create Account</a></li>
                <li><a class="footer-nav" href="#">Sign in</a></li>
                <li><a class="footer-nav" href="#">iOS App</a></li>
                <li><a class="footer-nav" href="#">Android App</a></li>
            </ul>
        </div>
        <div class="div-company">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-nav" href="#">About Pro Football</a></li>
                <li><a class="footer-nav" href="#">Betting Partners</a></li>
                <li><a class="footer-nav" href="#">Advertising</a></li>
                <li><a class="footer-nav" href="#">Careers</a></li>
            </ul>
        </div>
        <div class="div-resources">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-nav" href="#">Matches</a></li>
                <li><a class="footer-nav" href="#">FAQ</a></li>
                <li><a class="footer-nav" href="#">Privacy & Terms</a></li>
                <li><a class="footer-nav" href="#">Responsible Gambling</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer-social-icons">
        <div class="footer-social-container">
            <ul class="footer-list-icons">
                <li><a href="#">
                        <fa-icon class="footer-social-icons" [icon]="icons.faFacebook"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="footer-social-icons" [icon]="icons.faTwitter"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="footer-social-icons" [icon]="icons.faInstagram"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="footer-social-icons" [icon]="icons.faGoogle"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="footer-social-icons" [icon]="icons.faYoutube"></fa-icon>
                    </a></li>
            </ul>
            <p class="rights">All rights reserved by <span class="span-footer">Pro Football Inc</span> 2021 &copy;
            </p>
        </div>
    </div>
</footer>
