<header class="header header-layout">
    <a href="#">
        <img class="logo" src="../../../assets/profootball-logo-test.png" alt="ProFootball Logo">
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" routerLink="/">Home</a></li>
            <li><a class="main-nav-link" href="#">Standings</a></li>
            <li><a class="main-nav-link" routerLink="/matches">Matches</a></li>
            <li><a class="main-nav-link" [routerLink]="['/profile', userId]">Profile</a></li>
            <li><a class="main-nav-link nav-cta" href="#">Bet now</a></li>
        </ul>
    </nav>
</header>