<section class="section-login">
    <div class="container">
        <h2 class="heading-primary forms-heading">Register</h2>
    </div>
    <div class="container">
        <form class="register-form" action="">
            <div class="grid grid--2-cols">
                <div class="register-container">
                    <label class="form-label" for="username">Username</label>
                    <input class="input-auth" type="text">
                    <label class="form-label" for="username">Full Name</label>
                    <input class="input-auth" type="text">
                    <label class="form-label" for="address">Address</label>
                    <input class="input-auth" type="text">
                </div>
                <div class="register-container">
                    <label class="form-label" for="email">Email</label>
                    <input class="input-auth" type="email">
                    <label class="form-label" for="password">Password</label>
                    <input class="input-auth" type="text">
                    <label class="form-label" for="rePassword">Confrim Password</label>
                    <input class="input-auth" type="text">
                </div>
            </div>
            <div class="checkbox-layout">
                <div class="checkbox-field">
                    <input class="checkbox-register" type="checkbox" checked>
                    <p class="checkbox-p">Email me trending sports new, stories, and promotions from Pro Football Inc
                    </p>
                </div>
                <div class="checkbox-field">
                    <input class="checkbox-register" type="checkbox" checked>
                    <p class="checkbox-p">Email me sports picks, game projections and insider analysis</p>
                </div>
                <div class="checkbox-field">
                    <input class="checkbox-register" type="checkbox">
                    <p class="checkbox-p">By registering, you become a memeber of the Pro Football Inc family and you
                        agree to the Pro Football Terms of Use, Privacy Policy and Video Services Policy.</p>
                </div>
            </div>
            <div class="btn form-container">
                <button class="btn-register">Register</button>
            </div>
        </form>
        <p class="p-auth-info">Have already an account? <a class="link-auth" href="#">Login</a></p>
    </div>
</section>