<app-shared-header></app-shared-header>
<section class="section-profile">
    <div class="container flex-profile">
        <div class="navigation">
            <p class="user">
                <button class="userSymbol">{{user?.username?.substring(0,1)}}</button>
                <span class="username">{{user?.username}}</span>
            </p>
            <nav class="profile-navigation">
                <ul class="nav-items">
                    <li><a class="nav-link" routerLink="/"><fa-icon class="nav-icon" [icon]="icons.faArrowAltCircleLeft"></fa-icon>Home</a></li>
                    <li><a class="nav-link" href="#"><fa-icon class="nav-icon" [icon]="icons.faCalendarAlt"></fa-icon>History</a></li>
                    <li><a class="nav-link" routerLink="/matches"><fa-icon class="nav-icon" [icon]="icons.faFutbol"></fa-icon>Matches</a></li>
                    <li><a class="nav-link" href="#"><fa-icon class="nav-icon" [icon]="icons.faBullseye"></fa-icon>My Score</a></li>
                </ul>
            </nav>
        </div>
        <div class="profile-layout">
            <h2 class="heading-secondary sm-gap">User Profile</h2>
            <div class="profile-container">
                <div class="user-stats">
                    <div class="img-holder">
                        <img class="img-profile" src="../../../assets/section-header.jpg" alt="logo">
                        <button class="user-picture">{{user?.username?.substring(0,1)}}</button>
                    </div>
                    <div class="user-details">
                        <p>{{user?.username}}</p>
                        <p>Bronze</p>
                        <p>Man who loves football</p>
                    </div>
                    <div class="bottom-div">
                        <!-- <button></button> -->
                        <div class="stats">
                            <p class="number">125</p>
                            <p class="stat">Predictions</p>
                        </div>
                        <div class="stats">
                            <p class="number">350</p>
                            <p class="stat">Monthly Score</p>
                        </div>
                        <div class="stats">
                            <p class="number">3385</p>
                            <p class="stat">Total Score</p>
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <h5 class="heading-tertiary user-heading">User info</h5>
                    <div>
                        <form  [formGroup]="editUser" class="profile-form" (ngSubmit)="editUserHandler()">
                            <div class="input-container">
                                <span class="placeholder" for="username">Username</span>
                                <input class="input-profile" type="text" formControlName="username">
                            </div>
                            <div class="input-container">
                                <span class="placeholder" for="email">Email</span>
                                <input class="input-profile" type="text" formControlName="email">
                            </div>
                            <div class="row-2">
                                <div class="input-container first-name">
                                    <span class="placeholder" for="fullName">Full Name</span>
                                    <input class="input-profile" type="text" formControlName="fullName">
                                </div>
                               
                                <div class="input-container phone">
                                    <span class="placeholder" for="phone">Phone</span>
                                    <input class="input-profile" type="text" formControlName="phone">
                                </div>
                            </div>
                            <div class="row-3">
                                <div class="input-container">
                                    <span class="placeholder" for="address">Address</span>
                                    <input class="input-profile address" type="text" formControlName="address">
                                </div>

                                <div class="input-container">
                                    <span class="placeholder" for="aboutMe">About Me</span>
                                    <textarea class="input-profile aboutMe" rows="20" cols="20" formControlName="aboutMe"></textarea>
                                </div>
                            </div>
                            <div class="btn-form">
                                <button class="btn btn-save">Save</button>
                                <button class="btn btn-reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>