<section class="header-section">
    <header class="header">
        <a class="logo-link" routerLink="/home">
            <img class="logo" src="../../../assets/profootball-logo-test.png" alt="ProFootball Logo">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <!-- <li><a class="main-nav-link" routerLink="/home">Home</a></li> -->
                <li><a class="main-nav-link" href="#">Standings</a></li>
                <li><a class="main-nav-link" routerLink="/matches">Matches</a></li>
                <li *ngIf="isAdmin"><a class="main-nav-link" routerLink="/matches/create">Add Matches</a></li>
                <li *ngIf="isLogged"><a class="main-nav-link" [routerLink]="['/profile', userId]">Profile</a></li>
                <li *ngIf="!isLogged"><a class="main-nav-link" routerLink="/register">Sign up</a></li>
                <li *ngIf="!isLogged"><a class="main-nav-link" routerLink="/login">Login</a></li>
                <li *ngIf="isLogged"><a class="main-nav-link" href="javascript: void(0)"
                        (click)="logoutHandler()">Logout</a></li>
                <li><a class="main-nav-link nav-cta" href="#">Bet now</a></li>
            </ul>
        </nav>
    </header>
    <div class="header-div">
        <h1 class="heading-primary">
            Pro Football offers a complete betting game for tipsters
        </h1>
        <p class="subheading">The home of free soccer and football tips for competitions around the world. Explore
            our expert football
            tips and soccer betting predictions.</p>
        <p class="subheading">Pro Football is based in London, UK</p>
        <div class="header-social-icons">
            <!-- <ul class="header-list-icons">
                <li><a href="#">
                        <fa-icon class="header-social-icons" [icon]="icons.faFacebook"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="header-social-icons" [icon]="icons.faTwitter"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="header-social-icons" [icon]="icons.faInstagram"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="header-social-icons" [icon]="icons.faGoogle"></fa-icon>
                    </a></li>
                <li><a href="#">
                        <fa-icon class="header-social-icons" [icon]="icons.faYoutube"></fa-icon>
                    </a></li>
            </ul> -->
        </div>
    </div>
    <div class="header-animated-div">
        <a routerLink="/how" fragment="How">
            <fa-icon class="header-animated-icon" [icon]="icons.faChevronDown"></fa-icon>
        </a>
    </div>
</section>