/********************/
/* HEADER COMPONENTS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.8rem;
    padding: 0 3.6rem;
}

.logo {
    height: 6.5rem;
}

.logo-link {
    display:block;
}

/********************/
/* NAVIGATION COMPONENTS */

.main-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link, .main-nav-link:visited {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.5s;
}

.main-nav-link:hover, .main-nav-link:active {
    color: #555;
}



.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 0.6rem 1.8rem;
    border-radius: 9px;
    color: #555;
    font-weight: 500;
    background-color: #fab005;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #ffd43b;
    transition: all 0.5s;
}


/********************/
/* HERO COMPONENTS */

.header-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1)),url(../../../assets/section-header.jpg);
    /* background-image: url(images/section-header.jpg); */
    height: 90vh;

    display: flex;
    flex-direction: column;
    gap: 5.2rem;

    position: relative;
}

.header-div {
    width: 52.8rem;
    height: 39.2rem;
    
    border-radius: 9px;
    background-color: #111;
    opacity: 0.6;

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}


.header-list-icons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.header-social-icons{
    font-size: 2.4rem;
    color: #fab005;
}

.header-animated-div{
   display: block;
   position: absolute;
   left: 50%;
   top: 80%;
   bottom: auto;
   right: auto;
   background: transparent;
   
}


.header-animated-icon {
    font-size: 3.6rem;
    color: #fab005;
    transition: all 1s;

    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-animated-icon:hover {
    opacity: 0.5;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0.3rem);
    }
    50% {
        transform: translateY(-0.6rem);
    }
}

