<section class="section-matches">
    <header class="header header-layout">
        <a href="#">
            <img class="logo" src="../../../assets/profootball-logo.png" alt="ProFootball Logo">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a class="main-nav-link" href="#">Home</a></li>
                <li><a class="main-nav-link" href="#">Standings</a></li>
                <li><a class="main-nav-link" href="#">Matches</a></li>
                <li><a class="main-nav-link" href="#">Sign up</a></li>
                <li><a class="main-nav-link" href="#">Login</a></li>
                <li><a class="main-nav-link nav-cta" href="#">Bet now</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="matches-layout">
            <div class="content-container">
                <header>
                    <div class="head-row">
                        <h2 class="heading-secondary head-row">Matches</h2>
                        
                    </div>
                </header>
                <ul class="list-matches">
                    <div class="league-match">
                        <p>English Premier League</p>
                        <input type="date" id="start" name="matches-start" value="{{currentDate}}" min="2021-01-01"
                        max="2050-12-31">
                    </div>
                    <li class="li-match" *ngFor="let matches of matchList">
                        <div class="match-row">
                            <p class="match-name">{{matches}}</p>
                            <div class="pick-prediction">
                                <button class="btn-predictions">Home</button>
                                <button class="btn-predictions">Draw</button>
                                <button class="btn-predictions">Away</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-sidebar">
                <h3 class="heading-subheading small-p">BETTING SITES</h3>
                <div class="widget">
                    <ul class="list-bookies">
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/betfair logo.png" alt="Betfair Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $500 Risk-Free</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/bet365 logo.jpg" alt="Bet365 Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $250 Bonus-Free</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/bwin logo.png" alt="Bet365 Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $50 Free-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/unibet logo.png" alt="Unibet Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $500 Deposit-Bonus</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/betfred logo.jpg" alt="Betfred Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $60 Free-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/coral bet.jpg" alt="Coral Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $100 Draw-No-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/williamhill logo.jpg"
                                alt="WilliamHill Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $250 Deposit-Bonus</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>