<section class="section-matches">
    <header class="header header-layout">
        <a href="#">
            <img class="logo" src="../../../assets/profootball-logo-test.png" alt="ProFootball Logo">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a class="main-nav-link" href="#">Home</a></li>
                <li><a class="main-nav-link" href="#">Standings</a></li>
                <li><a class="main-nav-link" href="#">Matches</a></li>
                <li><a class="main-nav-link" href="#">Sign up</a></li>
                <li><a class="main-nav-link" href="#">Login</a></li>
                <li><a class="main-nav-link nav-cta" href="#">Bet now</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="matches-layout">
            <div class="content-container">
                <header>
                    <div class="head-row">
                        <h2 class="heading-secondary head-row">Today Matches</h2>

                    </div>
                </header>
                <div *ngIf="!matchList">
                    <div class="head-row">
                        <h2 class="heading-secondary head-row">No matches for today</h2>
                    </div>
                </div>
                <ul class="list-matches" *ngIf="matchList">
                    <div class="league-match">
                        <p>Date: {{currentDate}}</p>
                    </div>
                    <li class="li-match" *ngFor="let match of matchList">
                        <div class="match-row">
                            <p class="match-name">
                                <span>
                                    <fa-icon class="match-icon" [icon]="icons.faFutbol"></fa-icon>
                                </span>
                                {{match}}
                            </p>
                            <div class="pick-prediction">
                                <button (click)="clickHandler($event,match)" class="btn-predictions">Home</button>
                                <button (click)="clickHandler($event,match)" class="btn-predictions">Draw</button>
                                <button (click)="clickHandler($event,match)" class="btn-predictions">Away</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-sidebar">
                <h3 class="heading-subheading small-p">BETTING SITES</h3>
                <div class="widget">
                    <ul class="list-bookies">
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/betfair logo.png" alt="Betfair Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $500 Risk-Free</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/bet365 logo.jpg" alt="Bet365 Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $250 Bonus-Free</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/bwin logo.png" alt="Bet365 Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $50 Free-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/unibet logo.png" alt="Unibet Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $500 Deposit-Bonus</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/betfred logo.jpg" alt="Betfred Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $60 Free-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/coral bet.jpg" alt="Coral Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $100 Draw-No-Bet</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                        <li class="bookie">
                            <img class="bookie-logo" src="../../../assets/widget/williamhill logo.jpg"
                                alt="WilliamHill Logo">
                            <div class="bookie-desc">
                                <p class="bookie-offer">Get Up To $250 Deposit-Bonus</p>
                                <p class="bookie-info">Terms & conditions apply</p>
                            </div>
                            <button class="bookie-cta">CLAIM</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button id="tog" class="toggle" (click)="toggleClick()">My Bet <p class="bet-number">{{betsCount}}</p></button>
        <div id="content" [ngClass]="{'appear': toggle}">
            <div class="my-predictions">
                <div class="subheading heading">My Bets</div>
                <div class="ul-header">
                    <p class="p-tittle">Matches</p><span class="span-title">Prediction</span>
                </div>
                <ul class="selection-container">
                    <li class="match" *ngFor="let match of predictions | keyvalue">
                        <p> <span>
                                <fa-icon class="match-icon-list" [icon]="icons.faTimesCircle" (click)="removeSelection(match.key)"></fa-icon>
                            </span> {{match.key}}</p><span>{{match.value}}</span>
                    </li>
                </ul>
                <div class="btn-confirm-div">
                    <button class="btn-confirm" (click)="postPredictionHandler()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</section>