<section class="section-login">
    <div class="container">
        <h2 class="heading-primary forms-heading">Login</h2>
    </div>
    <div class="container">
        <form class="login-form" action="">
            <div class="form-container">
                <label class="form-label" for="email">Email</label>
                <input class="input-auth" type="email" id="loginEmal">
            </div>
            <div class="form-container">
                <label class="form-label" for="password">Password</label>
                <input class="input-auth" type="text" id="loginEmal">
            </div>
            <div class="btn form-container">
                <button class="btn-login">Login</button>
            </div>
        </form>
        <p class="p-auth-info">Don't have an account? <a class="link-auth" href="#">Sign up</a></p>
    </div>
</section>