<div class="container">
    <div class="bookie-reviews">
        <h3 class="heading-tertiary">Bookie Reviews</h3>
        <div class="grid grid--4-cols">
            <div class="bookie-card">
                <p class="top-p">Best Offers</p>
                <div class="img-container">
                    <img class="img-card-bookie" src="../../../assets/cards-logo/betfair.png" alt="Betfair logo">
                </div>
                <div class="card-content">
                    <h4>Betfair More Ways To Win</h4>
                    <p class="card-description">Join Betfair & bet with the best odds! Bet £20 on the Exchange
                        and if it loses, we will refund you ... </p>
                </div>
                <div class="card-btn-cta">
                    <a class="card-cta-read" href="">Read More</a>
                    <a class="card-cta" href="">Bet now</a>
                </div>
            </div>
            <div class="bookie-card">
                <p class="top-p">Best Odds</p>
                <div class="img-container">
                    <img class="img-card-bookie" src="../../../assets/cards-logo/bet3665-card-logo.jpg"
                        alt="Bet365 logo">
                </div>
                <div class="card-content">
                    <h4>Bet365 World Favourite</h4>
                    <p class="card-description">Over 63 Million Customers Worldwide Bet Online at bet365™.</p>
                </div>
                <div class="card-btn-cta">
                    <a class="card-cta-read" href="">Read More</a>
                    <a class="card-cta" href="">Bet now</a>
                </div>
            </div>
            <div class="bookie-card">
                <p class="top-p">Best UX</p>
                <div class="img-container">
                    <img class="img-card-bookie" src="../../../assets/cards-logo/betfred-logo-card.jpg"
                        alt="Betfred logo">
                </div>
                <div class="card-content">
                    <h4>Betfred: Online Betting & Odds</h4>
                    <p class="card-description">Join Betfred today for all the latest betting with live odds...
                    </p>
                </div>
                <div class="card-btn-cta">
                    <a class="card-cta-read" href="">Read More</a>
                    <a class="card-cta" href="">Bet now</a>
                </div>
            </div>
            <div class="bookie-card">
                <p class="top-p">Best Bonus</p>
                <div class="img-container">
                    <img class="img-card-bookie" src="../../../assets/cards-logo/Bwin-logo.png" alt="Bwin logo">
                </div>
                <div class="card-content">
                    <h4>Bwin: Bet on sports online</h4>
                    <p class="card-description">With BWin direct, you have the opportunity to place sports bets
                        during the matches...</p>
                </div>
                <div class="card-btn-cta">
                    <a class="card-cta-read" href="">Read More</a>
                    <a class="card-cta" href="">Bet now</a>
                </div>
            </div>
        </div>
    </div>
</div>
