/********************/
/* BOOKIE REVIEWS COMPONENTS */

.bookie-reviews {
    margin-bottom: 9.6rem;
}

.bookie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
    border-radius: 9px;

    position: relative;
}

.img-card-bookie {
    width: 100%; 
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    
}

.card-content h4 {
    font-size: 1.6rem;
}

.card-description {
    font-size: 1.4rem;
    line-height: 1.3;
}


.img-card-bookie {
    border-radius: 9px;
}

.card-btn-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;

  
}

.card-cta:link, .card-cta:visited  {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fab005;
    color: #555;
    border-radius: 9px;

    transition: all 0.5s;
}

.card-cta-read:link, .card-cta-read:visited {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffd43b;
    color: #555;
    border-radius: 9px;

    transition: all 0.5s;
}

.card-cta:hover, .card-cta:active {
    opacity: 70%;
}

.card-cta-read:hover, .card-cta-read:active {
    opacity: 70%;
}

.top-p {
    background-color: #ffd43b;
    color: #555;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-align: center;
    position: absolute;
    border-radius: 9px;
    top: -1rem;
    right: -3rem;
}