<section class="section-newsletter">
    <div class="container">
        <div class="newsletter">
            <div class="left-newsletter">
                <h1 class="heading-primary news-heading">Subscribe to our newsletter</h1>
                <p class="subheading">Signup for our weekly newsletter to get latest news, updates and amazing offers. Do not miss
                    them out...</p>
            </div>
            <div class="right-newsletter">
                <input class="email-input" type="email" placeholder=" Your email address">
                <button class="btn-newsletter btn-cta">Subscribe</button>
            </div>
        </div>
    </div>
</section>